{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container">

    <h2 class="title is-2">Welcome to Pantree!</h2>
    <h3 class="subtitle">Please log in to your account</h3>

    <section class="section">

        <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                <form action="/login" method="post" class="box" autocomplete="off">

                    <div class="field">
                        <label for="text">Username</label>
                        <div class="control has-icons-left">
                            <input class="input " id="username" type="username" name="username" placeholder="User McUserface" required autofocus>
                            <span class="icon is-small is-left">
                                <i class="fa-regular fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" id="password" name="password" type="password" placeholder="************" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button is-primary is-fullwidth" type="submit">Log in</button>
                    </div>
                    <div class="has-text-centered">
                        <p class="is-size-7"> Don't have an account? <a href="/register" class="has-text-primary">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>


{% endblock %}
